height = 643px/2
width = 384px/2

dolphin()
  content: ''
  display: block
  background-repeat: no-repeat
  background-image: url('img/dolphin.png')
  background-size: width height
  height: height
  width: width
  transform-origin: bottom center

.dolphins
  position: relative

.dolphins:before
  dolphin()

  position: absolute
  bottom: 0
  left: 0
  transform: translateX(-20%) rotateY(180deg) rotateZ(-10deg)

.dolphins:after
  dolphin()

  position: absolute
  bottom: 0
  right: 0
  transform: translateX(20%) rotateZ(-20deg)