@import 'nib'
@font-face 
  font-family: "PfDin"
  src: url(/font/pf-din.ttf)


h1.section, h2.section, h3.section, h4.section, h5.section, h6.section 
  font-family: PfDin
  font-weight: 0;


//experiment..
//  color:@white
//  text-shadow: 
//    @red-lighter -4px -4px 10px,
//    @blue-lighter 4px 4px 6px,
//    @blue-lighter 4px 4px 6px,
//    @red-lighter -4px -4px 6px



.section  
  border-bottom: 4px solid green
  margin-top: 32px
  margin: 16px 8px
  text-shadow: gray-light 2px 2px 2px
  z-index:2
  color:gray-darker
  letter-spacing: 6px
  display:block

//wtf is the pink showing in front of the green
.section::after 
  content: ''
  width: 100%
  height: 4px
  display: block
  position: relative
  top: 7px
  z-index: 1
  left: 2px
  background: pink
  

.section::before 
  content: ' '
  background-image: url('img/ic-section-small.png')
  background-repeat: none 
  position: relative
  display: block
  float: right
  top: -8px
  height: 30px
  width: 30px
  

