@import 'nib'
@import './variables'
@import './mixins'
@require './font'
@require './palm-trees'
@require './columns'
@require './water'
@require './white-marble'
@require './divider'
@require './dolphin'
@require './bevels'

.container
  max-width: 768px
  margin-left: calc(50% - 768px/2)
  margin-right: calc(50% - 768px/2)

.center-it
  position: absolute
  max-width: 768px
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)