height = 500px
width = 500px

.neon-human
  background-color: black;
  background-size: width height
  background-image: url('img/bg-human.jpg')
  background-repeat: repeat-x
  background-position: bottom