height = 768px
width = 768px

.neon-squares
  background: #25bfbf
  background-size: width height
  background-image: url('img/bg-squares.jpg')
  background-repeat: repeat-x
  background-position: bottom